.features {
    margin-bottom: 54px;
}

.features__title {
    margin: 0 auto 29px auto;
    font-family: SFProDisplay;
    font-size: 37px;
    font-weight: 600;
    line-height: 42px;
    text-align: center;
    color: #fff;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
}

.features__list {
    list-style: none;
    line-height: 31px;
}

.features__item {
    position: relative;
    width: 186px;
    padding-left: 53px;
    margin: auto;
    font-family: SFProText;
    font-size: 17px;
    font-weight: 100;
    text-align: left;
    text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.684495);

    &::before {
        content: '';
        position: absolute;
        top: 0px;
        left: 18px;
        width: 30px;
        height: 30px;
        background-position: center center;
        background-repeat: no-repeat;
    }

    &--unlimited-documents::before {
        background-image: url('../images/unlimited-documents.svg');
    }

    &--export-to-clouds::before {
        background-image: url('../images/export-to-clouds.svg');
    }

    &--text-recognition::before {
        background-image: url('../images/text-recognition.svg');
    }
}