.features {
    margin-bottom: 57px;
}

.features__title {
    width: 285px;
    margin: 0 auto 29px auto;
    font-family: SFProDisplay;
    font-size: 36px;
    font-weight: 600;
    line-height: 42px;
    text-align: center;
    color: #fff;
}

.features__list {
    padding-left: 37px;
    list-style: none;
    line-height: 30px;
}

.features__list-item {
    position: relative;
    width: 186px;
    margin: auto;
    font-family: SFProText;
    font-size: 17px;
    text-align: left;

    &::before {
        content: '';
        position: absolute;
        top: 0px;
        left: -37px;
        width: 30px;
        height: 30px;
        background-position: center center;
        background-repeat: no-repeat;
    }

    &--unlimited-documents::before {
        background-image: url('../images/unlimited-documents.svg');
        background-size: 23px 12px;
    }

    &--export-to-clouds::before {
        background-image: url('../images/export-to-clouds.svg');
        background-size: 16px 18px;
    }

    &--text-recognition::before {
        background-image: url('../images/text-recognition.svg');
        background-size: 21px 21px;
    }
}