footer {
    box-sizing: border-box;
    width: min(calc(100% + 42px), 100vw);
    margin-left: max(calc((100vw - 100%) / -2), -20px);
    padding-bottom: 18px;
}

.footer__links-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style: none;
}

.footer__links-list-item {
    font-size: 11px;
    font-weight: 300;
    a {
        display: block;
        padding: 20px 10px;
        font-family: $Roboto;
        color: #afb1c0;
    }
}