footer {
    padding-bottom: 38px;
}

.footer__links-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style: none;
}

.footer__links-list-item {
    font-size: 11px;
    font-weight: 300;
    a {
        font-family: Roboto;
        color: #afb1c0;
    }
}