main {
    min-height: 100vh;
    color: #fff;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 21.61%, rgba(33, 38, 51, 0.95) 64.3%);
    background-image: url($main-bkg-small);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

.main__wrapper {
    display: flex;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: min(35vh, 290px);
    bottom: 0;
    background: #212634;
}

.main__content {
    box-sizing: border-box;
    position: absolute;
    max-height: calc(100vh - 72px);
    bottom: 0;
}