.suggestions {
    padding: 0px 8px;
}

.suggestions__fieldset {
    margin: 0 ;
    padding: 0;
    border: none;
}

.suggestions__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
}

.suggestions__list-item {
    position: relative;
    margin: 0 10px 24px 10px;
    font-family: $SFProDisplay;

    input[type='radio'] {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 21px;
        appearance: none;
        cursor: pointer;
        outline: none;
        z-index: 2;

        &:checked ~ .suggestions__card {
            transform: scale(1.1);
            opacity: 1;
        }
    }
}

.suggestions__card {
    box-sizing: border-box;
    position: relative;
    min-width: 133px;
    padding: 23px 11px 12px 11px;
    opacity: 0.25;
    transition: ease-in-out 0.25s, opacity 0.5s;
    
    &::before {
        box-sizing: border-box;
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 1px solid #495795;
        border-radius: 21px;
        background: rgba(73, 87, 149, 0.197154);
    }

    &--with-discount {
        &::before {
            mask: radial-gradient(18px at calc(100% - 16px) 16px,#0000 100%,#000);
        }

        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
            background: #495795;
            border-radius: 21px;
            mask: radial-gradient(18px at calc(100% - 16px) 16px,#0000 calc(100% - 1px),#000 calc(100% - 1px) 100%,#0000);
        }
    }

    h2 {
        margin: 0 0 21px 0;
        font-family: $SFProDisplay;
        font-size: 17px;
        font-weight: 600;
        line-height: 20px;
        text-align: center;
    }

}

.suggestions__discount {
    position: absolute;
    top: 1px;
    right: 1px;
    font-family: $SFProDisplay;
    font-size: 10px;
    background: red;
    width: 30px;
    margin: 0;
    line-height: 30px;
    border-radius: 50%;
    text-align: center;
}

.suggestions__price {
    width: 68px;
    font-size: 14px;
    line-height: 13px;
    text-align: center;
    margin: 0 auto 13px auto;
    
    strong {
        font-size: 22px;
    }
}

.suggestions__benefit {
    width: calc(100% + 26px);
    margin: 0 0 0 -13px;
    font-size: 14px;
    min-height: 21px;
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 10px;
    background: #495795;
}

.suggestions__price-per-month {
    margin: 0;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
}

.suggestions__continue {
    display: block;
    max-width: 280px;
    width: 100%;
    margin: 0 auto 16px auto;
    font-family: $SFProDisplay;
    font-size: 17px;
    font-weight: 500;
    line-height: 52px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    border: none;
    border-radius: 30px;
    background: linear-gradient(270deg, #1987FF 0%, #19CCFF 100%);
    cursor: pointer;
}

.suggestions__additional-information {
    margin-bottom: 16px;
    font-family: $Roboto;
    font-size: 11px;
    font-weight: 300;
    line-height: 13px;
    text-align: center;
    opacity: 0.5;
}