.suggestions {
    padding: 0 20px;
}

.suggestions__fieldset {
    margin: 0 0 24px 0;
    border: none;
}

.suggestions__list {
    display: flex;
    list-style: none;
    overflow: auto;
    max-width: 100vw;
}

.suggestions__list-item {
    position: relative;
    box-sizing: border-box;
    min-width: 131px;
    padding: 23px 11px 12px 11px;
    margin-right: 20px;
    font-family: SFProDisplay;
    border: 1px solid #495795;
    border-radius: 21px;
    background: rgba(73, 87, 149, 0.197154);

    &:last-child {
        margin: 0;
    }

    h2 {
        margin: 0 0 16px 0;
        font-family: SFProDisplay;
        font-size: 17px;
        font-weight: 600;
        line-height: 20px;
        text-align: center;
    }

    input {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        border-radius: 0;
        appearance: none;
        cursor: pointer;
    }

}

.suggestions__price {
    width: 68px;
    font-weight: 700;
    font-size: 22px;
    line-height: 15px;
    text-align: center;
    margin: 0 auto 13px auto;
    
    span {
        font-size: 14px;
        font-weight: 400;
    }
}

.suggestions__benefit {
    width: calc(100% + 30px);
    margin: 0 0 0 -15px;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 10px;
    background: #495795;
}

.suggestions__price-per-month {
    margin: 0;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
}

.suggestions__continue-link {
    display: block;
    width: 280px;
    margin: 0 auto 16px auto;
    font-family: SFProDisplay;
    font-size: 17px;
    font-weight: 500;
    line-height: 54px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    border: none;
    border-radius: 30px;
    background: linear-gradient(270deg, #1987FF 0%, #19CCFF 100%);
}

.suggestions__additional-information {
    margin-bottom: 16px;
    font-family: Roboto;
    font-size: 11px;
    font-weight: 300;
    line-height: 13px;
    text-align: center;
    opacity: 0.5;
}