.suggestions {
    padding: 0 24px;
}

.suggestions__list {
    display: flex;
    margin-bottom: 24px;
    justify-content: center;
    list-style: none;
}

.suggestions__list-item {

}

.suggestions__list-item {
    box-sizing: border-box;
    width: 131px;
    padding: 23px 11px 13px 11px;
    margin-right: 20px;
    font-family: SFProDisplay;
    border: 1px solid #495795;
    border-radius: 21px;    

    &:last-child {
        margin: 0;
    }

    h2 {
        margin-bottom: 18px;
        font-family: SFProDisplay;
        font-size: 17px;
        font-weight: 600;
        line-height: 20px;
        text-align: center;
    }

    h3 {
        width: 68px;
        font-weight: 700;
        font-size: 22px;
        line-height: 15px;
        text-align: center;
        margin: 0 auto 10px auto;
    }

    span {
        font-size: 14px;
        font-weight: 400;
    }

}

.suggestions__benefit {
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 11px;
}

.suggestions__price-per-month {
    font-size: 12px;
    line-height: 14px;
    text-align: center;
}

.suggestions__continue-link {
    display: block;
    width: 280px;
    margin: 0 auto 16px auto;
    font-family: SFProDisplay;
    font-size: 17px;
    line-height: 54px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    border-radius: 30px;
    background: linear-gradient(270deg, #1987FF 0%, #19CCFF 100%);
}

.suggestions__additional-information {
    margin-bottom: 16px;
    font-family: SFProDisplay;
    font-size: 11px;
    line-height: 13px;
    text-align: center;
    opacity: 0.5;
}