main {
    min-height: 100vh;
    color: #fff;
    background: linear-gradient( 180deg, rgba( 0, 0, 0, 0.0001 ) 21.61%, rgba( 33, 38, 51, 0.95 ) 64.3% );
    
    background-image: url( $reserved-main-bkg);
    @supports (background-image: url( $main-bkg )) {
        background-image: url( $main-bkg );
    }

    @media ( min-width: 750px ) {
        background-image: url( $reserved-main-bkg-2x );
        @supports (background-image: url( $main-bkg-2x )) {
            background-image: url( $main-bkg-2x );
        }
    }
    @media ( min-width: 1125px ) {
        background-image: url( $reserved-main-bkg-3x );
        @supports (background-image: url( $main-bkg-3x )) {
            background-image: url( $main-bkg-3x );
        }
    }

    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

.main__wrapper {
    display: flex;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: min(35vh, 290px);
    bottom: 0;
    background: #212634;
}

.main__container {
    box-sizing: border-box;
    position: absolute;
    max-height: calc(100vh - 72px);
    bottom: 0;
}