body {
    margin: 0;
    padding: 0;
    background-image: url($main_bkg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

ul, li {
    margin: 0;
    padding: 0;
}

.visually-hidden {
    display: none;
}