// fonts
$SFProDisplay: SFProDisplay, sans-serif, serif;
$SFProText: SFProText, sans-serif, serif;
$Roboto: Roboto, sans-serif, serif;

// links
$main-bkg: '../images/background.png';
$main-bkg-2x: '../images/background@2x.png';
$main-bkg-3x: '../images/background@3x.png';