// sizes 
$iphone_SE_width: 375px;
$iphone_SE_height: 667px;

// fonts
$SFProDisplay: SFProDisplay;
$SFProText: SFProText;
$Roboto: Roboto;

// links
$main-bkg-small: '../images/background.png';
$main-bkg-medium: '../images/background.png';
$main-bkg-large: '../images/background.png';