// fonts
$SFProDisplay: SFProDisplay, sans-serif, serif;
$SFProText: SFProText, sans-serif, serif;
$Roboto: Roboto, sans-serif, serif;

// backgrounds
$main-bkg: '../images/background.webp';
$main-bkg-2x: '../images/background@2x.webp';
$main-bkg-3x: '../images/background@3x.webp';

$reserved-main-bkg: '../images/background.png';
$reserved-main-bkg-2x: '../images/background@2x.png';
$reserved-main-bkg-3x: '../images/background@3x.png';
